@model FootballOdds.Models.RawData.Fixtures
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        @if (Model.ReadAll().Length > 0)
        {
            @foreach (string file in Model.ReadAll())
            {
                <p>@file</p>
            }
        }
        else
        {
            <p>All teams have already added to database</p>
        }

    </div>
